In [1]:
import pymongo
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from pymongo import MongoClient
from path import Path
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# import data from mongodb
client = MongoClient()
#point the client at mongo URI
client = MongoClient('mongodb+srv://syed:abc12345@cluster0.xinvi.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
#select database
db = client['airbnb_clean']
#select the collection within the database
test = db.airbnb_clean
#convert entire collection to Pandas dataframe
test = pd.DataFrame(list(test.find()))

In [5]:
# View the dataframe
test.head(10)

,_id,id,host_response_rate,host_acceptance_rate,host_picture_url,latitude,longtitude,property_type,room_type,accomodates,...,pool,hair_dryer,gym,wheelchair_accessible,iron,shampoo,hangers,first_aid_kit,elevator,comments
0,60f1a2f1bc9dc8e90a6f1df0,8837755,0,0,https://a2.muscache.com/im/pictures/739dc9bf-f...,42.35095492,-71.06919442,Apartment,Entire home/apt,4,...,0,0,1,0,0,1,0,1,1,NaN
1,60f1a2f1bc9dc8e90a6f1df1,8515356,99,93,https://a2.muscache.com/im/users/26956083/prof...,42.35865949,-71.14133392,House,Private room,2,...,0,0,0,0,0,1,0,1,0,"Although we did not meet Todd, he was very acc..."
2,60f1a2f1bc9dc8e90a6f1df2,2842124,100,100,https://a0.muscache.com/im/users/12312638/prof...,42.3637822,-71.05564322,Apartment,Entire home/apt,3,...,0,0,0,0,0,0,1,1,0,"The location really can''t be beat, and the ne..."
3,60f1a2f1bc9dc8e90a6f1df3,14774868,0,0,https://a2.muscache.com/im/pictures/942b25bf-7...,42.3472229,-71.09578632,Apartment,Private room,1,...,0,0,0,0,0,0,1,0,1,The host canceled this reservation 13 days bef...
4,60f1a2f1bc9dc8e90a6f1df4,9593141,0,0,https://a2.muscache.com/im/pictures/eeb97d84-2...,42.35850566,-71.12944469,Apartment,Entire home/apt,4,...,0,0,0,0,1,0,0,0,0,NaN
5,60f1a2f1bc9dc8e90a6f1df5,10153536,98,55,https://a2.muscache.com/im/users/30283594/prof...,42.33384311,-71.1018177,Apartment,Entire home/apt,3,...,1,0,1,0,0,1,0,0,1,NaN
6,60f1a2f1bc9dc8e90a6f1df6,10051649,98,55,https://a2.muscache.com/im/users/30283594/prof...,42.36479585,-71.07010306,Apartment,Entire home/apt,5,...,1,0,1,0,0,1,0,0,1,NaN
7,60f1a2f1bc9dc8e90a6f1df7,14161407,100,100,https://a2.muscache.com/im/users/5454238/profi...,42.31968622,-71.11205827,Condominium,Entire home/apt,4,...,0,1,0,0,0,1,0,0,0,NaN
8,60f1a2f1bc9dc8e90a6f1df8,12984263,96,68,https://a2.muscache.com/im/users/9419684/profi...,42.35261241,-71.04651822,Apartment,Entire home/apt,3,...,0,1,1,0,1,1,1,0,1,NaN
9,60f1a2f1bc9dc8e90a6f1df9,13215952,80,90,https://a0.muscache.com/im/users/19798741/prof...,42.30992056,-71.11072692,Apartment,Private room,2,...,0,0,0,0,0,1,1,0,0,NaN

## Preprocessing

In [6]:
# Convert datatypes to numeric
test[["id", "host_response_rate", "host_acceptance_rate", "accomodates", "bathrooms", "bedrooms", "beds", "price", 
    "security_deposit", "cleaning_fee"]] = test[["id", "host_response_rate", "host_acceptance_rate", "accomodates", "bathrooms", "bedrooms", "beds", "price", 
    "security_deposit", "cleaning_fee"]].apply(pd.to_numeric)

In [7]:
# Convert to datatypes numeric 
test[["extra_people", "number_of_reviews", "review_scores_rating", "wireless_internet",
   "smoke_detector", "air_conditioning"]] = test[["extra_people", "number_of_reviews", "review_scores_rating", "wireless_internet",
   "smoke_detector", "air_conditioning"]].apply(pd.to_numeric)

In [8]:
# Convert to datatypes numeric 
test[["heating", "cable_tv", "washer", "dryer", "family_kid_friendly", "kitchen",
   "free_parking", "carbon_monoxide"]] = test[["heating", "cable_tv", "washer", "dryer", "family_kid_friendly", "kitchen",
   "free_parking", "carbon_monoxide"]].apply(pd.to_numeric)

In [9]:
# Convert to datatypes numeric 
test[["pets_allowed", "essentials", "checkin_24hr", "lock_on_bedroom_door", 
   "pool", "hair_dryer", "gym", "wheelchair_accessible", "iron", "shampoo", "hangers", "first_aid_kit", "elevator"]] = test[["pets_allowed", "essentials", "checkin_24hr", "lock_on_bedroom_door", 
   "pool", "hair_dryer", "gym", "wheelchair_accessible", "iron", "shampoo", "hangers", "first_aid_kit", "elevator"]].apply(pd.to_numeric)

In [10]:
test.dtypes

_id                       object
id                         int64
host_response_rate         int64
host_acceptance_rate       int64
host_picture_url          object
latitude                  object
longtitude                object
property_type             object
room_type                 object
accomodates                int64
bathrooms                float64
bedrooms                   int64
beds                       int64
bed_type                  object
price                      int64
security_deposit           int64
cleaning_fee               int64
extra_people               int64
number_of_reviews          int64
review_scores_rating       int64
cancellation_policy       object
wireless_internet          int64
smoke_detector             int64
air_conditioning           int64
heating                    int64
cable_tv                   int64
washer                     int64
dryer                      int64
family_kid_friendly        int64
kitchen                    int64
free_parking               int64
carbon_monoxide            int64
pets_allowed               int64
essentials                 int64
checkin_24hr               int64
lock_on_bedroom_door       int64
pool                       int64
hair_dryer                 int64
gym                        int64
wheelchair_accessible      int64
iron                       int64
shampoo                    int64
hangers                    int64
first_aid_kit              int64
elevator                   int64
comments                  object
dtype: object

In [11]:
# Make copy of dataframe
df2 = test.copy()

In [12]:
# Check for null values
df2.isnull().sum()

_id                        0
id                         0
host_response_rate         0
host_acceptance_rate       0
host_picture_url           0
latitude                   0
longtitude                 0
property_type              3
room_type                  0
accomodates                0
bathrooms                  0
bedrooms                   0
beds                       0
bed_type                   0
price                      0
security_deposit           0
cleaning_fee               0
extra_people               0
number_of_reviews          0
review_scores_rating       0
cancellation_policy        0
wireless_internet          0
smoke_detector             0
air_conditioning           0
heating                    0
cable_tv                   0
washer                     0
dryer                      0
family_kid_friendly        0
kitchen                    0
free_parking               0
carbon_monoxide            0
pets_allowed               0
essentials                 0
checkin_24hr               0
lock_on_bedroom_door       0
pool                       0
hair_dryer                 0
gym                        0
wheelchair_accessible      0
iron                       0
shampoo                    0
hangers                    0
first_aid_kit              0
elevator                   0
comments                 760
dtype: int64

In [13]:
# Drop null values
df2 = df2[df2['comments'].notna()]
# Drop null values
df2 = df2[df2['property_type'].notna()]

In [14]:
df2.isnull().sum()

_id                      0
id                       0
host_response_rate       0
host_acceptance_rate     0
host_picture_url         0
latitude                 0
longtitude               0
property_type            0
room_type                0
accomodates              0
bathrooms                0
bedrooms                 0
beds                     0
bed_type                 0
price                    0
security_deposit         0
cleaning_fee             0
extra_people             0
number_of_reviews        0
review_scores_rating     0
cancellation_policy      0
wireless_internet        0
smoke_detector           0
air_conditioning         0
heating                  0
cable_tv                 0
washer                   0
dryer                    0
family_kid_friendly      0
kitchen                  0
free_parking             0
carbon_monoxide          0
pets_allowed             0
essentials               0
checkin_24hr             0
lock_on_bedroom_door     0
pool                     0
hair_dryer               0
gym                      0
wheelchair_accessible    0
iron                     0
shampoo                  0
hangers                  0
first_aid_kit            0
elevator                 0
comments                 0
dtype: int64

In [15]:
# Convert categorical variables to numerical for ML 
df2['property_type'].unique()
df2['property_type'] = df2['property_type'].replace("Apartment", 1)
df2['property_type'] = df2['property_type'].replace("House", 2)
df2['property_type'] = df2['property_type'].replace("Townhouse", 3)
df2['property_type'] = df2['property_type'].replace("Condominium", 4)
df2['property_type'] = df2['property_type'].replace("Loft", 5)
df2['property_type'] = df2['property_type'].replace("Bed & Breakfast", 6)
df2['property_type'] = df2['property_type'].replace("Guesthouse", 7)
df2['property_type'] = df2['property_type'].replace("Boat", 8)
df2['property_type'] = df2['property_type'].replace("Entire Floor", 9)
df2['property_type'] = df2['property_type'].replace("Dorm", 10)
df2['property_type'] = df2['property_type'].replace("Other", 11)
df2['property_type'] = df2['property_type'].replace("Villa", 12)

In [16]:
# Convert categorical variables to numerical for ML 
df2['room_type'].unique()
df2['room_type'] = df2['room_type'].replace("Entire home/apt", 1)
df2['room_type'] = df2['room_type'].replace("Private room", 2)
df2['room_type'] = df2['room_type'].replace("Shared room", 3)

In [17]:
# Convert categorical variables to numerical for ML 
df2['bed_type'].unique()
df2['bed_type'] = df2['bed_type'].replace("Real Bed", 1)
df2['bed_type'] = df2['bed_type'].replace("Futon", 2)
df2['bed_type'] = df2['bed_type'].replace("Pull-out Sofa", 3)
df2['bed_type'] = df2['bed_type'].replace("Airbed", 4)
df2['bed_type'] = df2['bed_type'].replace("Couch", 5)

In [18]:
# Convert categorical variables to numerical for ML 
df2['cancellation_policy'].unique() 
df2['cancellation_policy'] = df2['cancellation_policy'].replace("strict", 1)
df2['cancellation_policy'] = df2['cancellation_policy'].replace("flexible", 2)
df2['cancellation_policy'] = df2['cancellation_policy'].replace("moderate", 3)
df2['cancellation_policy'] = df2['cancellation_policy'].replace("super_strict_30", 4)

In [19]:
df2[['cancellation_policy', 'bed_type', 'room_type', 'property_type']].head(5)

    cancellation_policy  bed_type  room_type  property_type
1                     1         1          2              2
2                     3         1          1              1
3                     2         1          2              1
10                    2         1          1              1
11                    2         1          2              1

In [20]:
# Drop unwanted columns 
df2 = df2.drop(['_id' ,'id', 'latitude', 'longtitude', 'host_picture_url'], axis=1)

## Natural Language Processing on Comments